/* On screens that are 992px or less, set the background color to blue */

@media screen and (min-width: 600px) {
    nav a {
        font-size: 18px;
    }
    h1 {
        font-size: 50px;
    }
    h3 {
        font-size: 15px;
        letter-spacing: 1px;
    }
    .profile {
        width: 15%;
    }
    
    .a-long-l {
        height: 150px;
        text-align: right;
        margin-bottom: 50px;
    }

    .a-long {
        height: 150px;
        margin-bottom: 50px;
    }

    .a-short-l {
        height: 150px;
        text-align: right;
    }

    .a-short {
        height: 150px
    }

    .card{
        width: 50%;
        max-width: 50%;
    }

    .card-tittle{
        width: 50%;
    }

}

/* On screens that are 600px or less, set the background color to olive */

@media screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
    }
    h3 {
        font-size: 10px;
        letter-spacing: 0px;
    }
    .profile {
        width: 45%;
    }
    nav a {
        font-size: 12px;
    }
    
    .a-long-l {
        margin-bottom: 50px;
        text-align: right;
        height: 80px;
    }

    .a-long {
        margin-bottom: 50px;
        height: 80px;
    }

    .a-short-l {
        margin: 0 0 20px 0;
        text-align: right;
        height: 80px;
    }

    .a-short {
        margin: 0 0 20px 0;
        height: 80px;
    }

    
    .card{
        width: 80%;
        max-width: 80%;
    }

    .card-tittle{
        width: 80%;
    }
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    height: 100%;
    width: 100%;
}

nav {
    background-color: #0E0F3B;
    text-align: center;
}

.nav-cont {
    margin: 0;
    display: inline-block;
    width: 80%;
    text-align: left;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    padding: 0px 5px;
}

nav a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 20px;
}

nav a:link {
    color: #F1F1F1;
}

nav a:visited {
    color: #F1F1F1;
}

nav a:hover {
    background-color: #7fdeee;
    color: #0E0F3B;
}

.card-container {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}

.card-tittle {
    align-self: center;
    background-color: #4F51E0;
    color: white;
    display: flex;
    position: relative;
    padding: 1% 5%;
    justify-content: center;
    font-size: 25px;
    box-shadow: 0px 0px 20px gray;
}

.card {
    align-self: center;
    background: white;
    display: flex;
    padding: 5%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px gray;
}

/* Card About Personal Info */

.cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

.profile {
    align-self: center;
    border-radius: 50%;
    background-color: #3D3D3D3D;
}

h1 {
    margin: 50px 0 0 0;
    padding: 0;
    color: black;
}

h3 {
    margin: 0 0 0 0;
    padding: 0;
    color: black;
}

.social-icon {
    border-radius: 50%;
    max-width: 40px;
    padding: 0 20px 0 20px;
}

.social {
    margin: 40px 0 0 0;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.info {
    flex-direction: row;
    align-self: center;
    justify-content: center;
}

.info-element {
    padding: 10px 0;
}

hr {
    border-top: 1px solid gray;
    width: 60%;
}

/* Card About Education */

.line-time {
    display: flex;
    height: 100%;
    width: 30%;
    border-right: 2px solid #D3C25E;
    margin: 0;
    padding: 0 20px 0 0;
    box-sizing: border-box;
    flex-direction: column;
}

.line-events {
    display: flex;
    height: 100%;
    width: 70%;
    padding: 0 0 0 20px;
    justify-content: left;
    flex-direction: column;
}


/* About Working Life Section */

.w-cont {
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.w-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    padding: 8% 5%;
    margin: 30px;
    background-color: rgb(245, 245, 245);
    border-radius: 30px;
    box-shadow: 2px 2px 5px gray;
}

.w-card img {
    max-width: 50%;
    align-self: center;
}

h4 {
    text-align: center;
    font-size: 10px;
}

h5 {
    text-align: center;
    font-size: 16px;
    margin: 0;
}

.ico-cont {
    background-color: white;
    width: 100%;
    height: 50%;
}

/* About Hobbies section */

.h-cont {
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.h-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5% 5%;
}

.h-c img {
    margin-top: 3%;
    align-self: center;
    max-width: 90%;
    height: 100%;
    object-fit: cover;
    box-shadow: 1PX 1PX 10px gray;
    border-radius: 8%;
}

.h-c {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    border-radius: 8%;
    box-shadow: 1px 1px 10px gray;
    margin: 30px;
}

input{
    margin: 5px 10px 5px 5px;
}
button{
    display: flex;
    background-color: #D3C25E;
    padding: 5px 10px;
    border-radius: 15%;
    margin: 15px 0 0 0;
    align-self: flex-end;
}
