/* On screens that are 992px or less, set the background color to blue */

@media screen and (min-width: 600px) {
    nav a {
        font-size: 18px;
    }
    h1 {
        font-size: 50px;
    }
    h3 {
        font-size: 15px;
        letter-spacing: 1px;
    }
}


/* On screens that are 600px or less, set the background color to olive */

@media screen and (max-width: 600px) {
    nav a {
        font-size: 12px;
    }
    h1 {
        font-size: 30px;
    }
    h3 {
        font-size: 10px;
        letter-spacing: 0px;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: #D9D9D9;
    height: 100%;
    width: 100%;
}

nav {
    background-color: #D3D3D3;
    text-align: center;
}

.nav-cont {
    margin: 0;
    display: inline-block;
    width: 80%;
    text-align: left;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    padding: 0px 5px;
}

nav a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 20px;
}

nav a:link {
    color: black;
}

nav a:visited {
    color: black;
}

nav a:hover {
    background-color: rgba(128, 204, 255, 0.929);
    color: white;
}

section {
    height: calc(100% - 62px);
}

.sect {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
    width: 80%;
}

.profile {
    align-self: center;
    border-radius: 50%;
    width: 25%;
    background-color: #3D3D3D3D;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.butt {
    padding: 15px 10px;
    background-color: white;
    border-radius: 10px;
    width: 100px;
    text-decoration: none;
    color: black;
    margin: 0 25px;
}

.butt:hover {
    background-color: rgba(128, 204, 255, 0.929);
    color: white;
}

h1 {
    margin: 50px 0 0 0;
    padding: 0;
}

h3 {
    padding: 0;
    margin: 0 0 50px 0;
}