/* On screens that are 992px or less, set the background color to blue */

@media screen and (min-width: 600px) {
    nav a {
        font-size: 18px;
    }
    h1 {
        font-size: 50px;
    }
    h3 {
        font-size: 15px;
        letter-spacing: 1px;
    }
    .profile {
        width: 25%;
    }
}


/* On screens that are 600px or less, set the background color to olive */

@media screen and (max-width: 600px) {
    nav a {
        font-size: 12px;
    }
    h1 {
        font-size: 30px;
    }
    h3 {
        font-size: 10px;
        letter-spacing: 0px;
    }
    .profile {
        width: 55%;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    height: 100%;
    width: 100%;
    background-image: url("../data/background.gif");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav {
    background-color: #0E0F3B;
    text-align: center;
}

.nav-cont {
    margin: 0;
    display: inline-block;
    width: 80%;
    text-align: left;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    padding: 0px 5px;
}

nav a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 20px;
}

nav a:link {
    color: #F1F1F1;
}

nav a:visited {
    color: #F1F1F1;
}

nav a:hover {
    background-color: #7fdeee;
    color: #0E0F3B;
}

section {
    height: calc(100% - 64px);
}

.sect {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
    width: 80%;
}

.profile {
    align-self: center;
    border-radius: 50%;
    background-color: #3D3D3D3D;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.butt {
    padding:15px 30px;
    background-color: #0E0F3B;
    border-radius: 10px;
    width: 100px;
    text-decoration: none;
    color: #F1F1F1;
    margin: 0 25px;
}

.butt:hover {
    background-color: #7fdeee;
    color: #0E0F3B;
}

h1 {
    margin: 50px 0 0 0;
    padding: 0;
    color: blanchedalmond;
}

h3 {
    padding: 0;
    margin: 0 0 50px 0;
    color: blanchedalmond;
}

.social-icon{
    border-radius: 50%;
    max-width: 40px;
    padding: 0 20px 0 20px;
}

.social{
    margin: 40px 0 0 0;
    color: black;
}