@media screen and (min-width: 600px) {
    nav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    nav a {
        font-size: 12px;
    }
}


html, body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    height: 100%;
    width: 100%;
}

nav {
    background-color: #0E0F3B;
    text-align: center;
}

.nav-cont {
    margin: 0;
    display: inline-block;
    width: 80%;
    text-align: left;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    padding: 0px 5px;
}

nav a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 20px;
}

nav a:link {
    color: #F1F1F1;
}

nav a:visited {
    color: #F1F1F1;
}

nav a:hover {
    background-color: #7fdeee;
    color: #0E0F3B;
}


footer{
    background-color: #0E0F3B;
    color: azure;
    padding: 30px 20%;
}

footer ul {
    margin: 0;
    padding: 0;
    color: azure;
}

footer li {
    display: inline;
    padding: 0px 5px;
    color: azure;
}

footer a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: azure;
    padding: 20px;
}

.r{
    text-align: right;
}